@(field: forms.CompanyNameField,
questions: Map[String, Question],
answers: Map[String, String],
errs: Seq[forms.validation.FieldError],
hints: Seq[forms.validation.FieldHint])

@import helpers._

@errors = @{
errs.filter(p => p.path == field.name || p.path.startsWith(s"${field.name}."))
}

@errorClass = @{if(errors.nonEmpty) "error" else ""}
@invalidTrueFalse = @{if(errors.nonEmpty) "true" else "false"}

@questions.get(field.name).map { q => <label for="@field.name" class="question">@q.text</label>
}

<!--------Company Name using JQuery AutoComplete---------------------->
<!--------TODO:- Move this JS code to common JS file---------------------->

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
</style>

<script>
  $( function() {
    $( "#@field.name" ).autocomplete({
      source: function( request, response ) {
        $.ajax( {
          url: "https://api.companieshouse.gov.uk/search/companies?items_per_page=20&start_index=0",
          type: "GET",
          crossDomain: true,
		  contentType: "application/json",
	      dataType: 'json',
          data: {
            q: request.term
          },
          beforeSend: function(xhr) {
          xhr.withCredentials = true;
		  xhr.setRequestHeader("Authorization", "Basic djROUW5ETHhOb3d6bDBjUkhMc3I2REYyWTNSNnNjVk52cFlxOUdxcg==")
		  //TODO:- TAKE OUT HARDCODED VALUES (add above Key in conf file and encode it later)
          },

          success: function( data ) {
            var companyItems = data.items
            var companyNames = [];
            $.each(companyItems, function (index, item) {
                console.log(item.title);
                companyNames.push(item.title);
            });

            response( companyNames );
          }
        } );
      },
      minLength: 2,
    } );
  } );
  </script>

<!------------Company Name ends----------->

<div class='form-group @errorClass'>
    @errors.map { e =>
    <span class="error-message" role="alert">@e.err</span>
    }

        <input type="text" id="@field.name" class="form-control text-field" title="@field.name" name="@field.name"
               value='@answers.get(field.name)' aria-label="what is your company Name? " aria-invalid="false" autocomplete="on">


    <label for="@field.name">@field.label</label>
    <div class="inline right-align hint-text" id="@(field.name)_hint_text">
        @for(hint <- hints.find(_.path == field.name)) {
        <span class="js__hint" data-for="@field.name" data-rule="@hint.matchingJsType" data-ruleconfig="@hint.matchingJsConfig">@hint.hint</span>
        }
    </div>
</div>
